Two Methods of Handling Text Data
1.One Hot Encoding
2.Label Encoding

# One Hot Encoding Or Dummy Variable

we can create a new column for each of your category and give binary value to each category in that perticular category column as 1. other should be 0. that 0 is called dummy variable.

In [213]:
import pandas as pd
from pandas import get_dummies
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [214]:
data = pd.read_csv('loan_risk_prediction.csv', encoding='latin1')

In [215]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0.0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,4.0,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2.0,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1.0,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2.0,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2.0,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2.0,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0.0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2.0,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0.0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1.0,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0.0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0.0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0.0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0.0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1.0,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0.0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2.0,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1.0,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0.0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0.0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2.0,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0.0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2.0,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,LP002856,Male,Yes,0.0,Graduate,No,2292,1558.0,119.0,360.0,1.0,Urban,Y
952,LP002857,Male,Yes,1.0,Graduate,Yes,2360,3355.0,87.0,240.0,1.0,Rural,Y
953,LP002858,Female,No,0.0,Graduate,No,4333,2333.0,162.0,360.0,0.0,Rural,N
954,LP002860,Male,Yes,0.0,Graduate,Yes,2623,4831.0,122.0,180.0,1.0,Semiurban,Y
955,LP002867,Male,No,0.0,Graduate,Yes,3972,4275.0,187.0,360.0,1.0,Rural,Y
956,LP002869,Male,Yes,4.0,Not Graduate,No,3522,0.0,81.0,180.0,1.0,Rural,N
957,LP002870,Male,Yes,1.0,Graduate,No,4700,0.0,80.0,360.0,1.0,Urban,Y
958,LP002876,Male,No,0.0,Graduate,No,6858,0.0,176.0,360.0,1.0,Rural,Y
959,LP002878,Male,Yes,4.0,Graduate,No,8334,0.0,260.0,360.0,1.0,Urban,Y
960,LP002879,Male,Yes,0.0,Graduate,No,3391,1966.0,133.0,360.0,0.0,Rural,N
961,LP002885,Male,No,0.0,Not Graduate,No,2868,0.0,70.0,360.0,1.0,Urban,Y
962,LP002890,Male,Yes,2.0,Not Graduate,No,3418,1380.0,135.0,360.0,1.0,Urban,Y
963,LP002891,Male,Yes,0.0,Graduate,Yes,2500,296.0,137.0,300.0,1.0,Rural,Y
964,LP002899,Male,Yes,2.0,Graduate,No,8667,0.0,254.0,360.0,1.0,Rural,Y
965,LP002901,Male,No,0.0,Graduate,No,2283,15000.0,106.0,360.0,NaN,Rural,Y
966,LP002907,Male,Yes,0.0,Graduate,No,5817,910.0,109.0,360.0,1.0,Urban,Y
967,LP002920,Male,Yes,0.0,Graduate,No,5119,3769.0,120.0,360.0,1.0,Rural,Y
968,LP002921,Male,Yes,4.0,Not Graduate,No,5316,187.0,158.0,180.0,0.0,Semiurban,Y
969,LP002932,Male,Yes,4.0,Graduate,No,7603,1213.0,197.0,360.0,1.0,Urban,Y
970,LP002935,Male,Yes,1.0,Graduate,No,3791,1936.0,85.0,360.0,1.0,Urban,Y
971,LP002952,Male,No,0.0,Graduate,No,2500,0.0,60.0,360.0,1.0,Urban,Y
972,LP002954,Male,Yes,2.0,Not Graduate,No,3132,0.0,76.0,360.0,NaN,Rural,Y
973,LP002962,Male,No,0.0,Graduate,No,4000,2667.0,152.0,360.0,1.0,Semiurban,Y
974,LP002965,Female,Yes,0.0,Graduate,No,8550,4255.0,96.0,360.0,NaN,Urban,Y
975,LP002969,Male,Yes,1.0,Graduate,No,2269,2167.0,99.0,360.0,1.0,Semiurban,Y
976,LP002971,Male,Yes,4.0,Not Graduate,Yes,4009,1777.0,113.0,360.0,1.0,Urban,Y
977,LP002975,Male,Yes,0.0,Graduate,No,4158,709.0,115.0,360.0,1.0,Urban,Y
978,LP002980,Male,No,0.0,Graduate,No,3250,1993.0,126.0,360.0,NaN,Semiurban,Y
979,LP002986,Male,Yes,0.0,Graduate,No,5000,2393.0,158.0,360.0,1.0,Rural,N
980,LP002989,Male,No,0.0,Graduate,Yes,9200,0.0,98.0,180.0,1.0,Rural,Y

In [216]:
data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [217]:
gender = get_dummies(data['Gender'])
data = pd.concat([data, gender], axis=1)
data = data.drop(['Gender'], axis=1)

education = get_dummies(data['Education'])
data = pd.concat([education,data],axis=1)
data = data.drop(['Education'], axis=1)

In [231]:
encoder =LabelEncoder()
status = encoder.fit_transform(data[['Loan_Status']])

C:\Users\rnt1013\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [232]:
data['Loan_Status'] = status
data.head()

,Graduate,Not Graduate,Loan_ID,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Female,Male
0,1,0,LP001002,No,0.0,No,5849,0.0,NaN,360.0,1.0,Urban,1,0,1
1,1,0,LP001003,Yes,1.0,No,4583,1508.0,128.0,360.0,1.0,Rural,0,0,1
2,1,0,LP001005,Yes,0.0,Yes,3000,0.0,66.0,360.0,1.0,Urban,1,0,1
3,0,1,LP001006,Yes,0.0,No,2583,2358.0,120.0,360.0,1.0,Urban,1,0,1
4,1,0,LP001008,No,0.0,No,6000,0.0,141.0,360.0,1.0,Urban,1,0,1

In [233]:
features = ['Graduate','Not Graduate','Dependents','ApplicantIncome','CoapplicantIncome']

In [234]:
data['Dependents'] = data['Dependents'].fillna(data.Dependents.median())

In [235]:
data.Dependents.isna().sum()

0

In [236]:
labels = ['Loan_Status']

In [237]:
data[labels]

     Loan_Status
0              1
1              0
2              1
3              1
4              1
5              1
6              1
7              0
8              1
9              0
10             1
11             1
12             1
13             0
14             1
15             1
16             1
17             0
18             0
19             1
20             0
21             1
22             0
23             0
24             0
25             1
26             1
27             1
28             0
29             1
..           ...
951            1
952            1
953            0
954            1
955            1
956            0
957            1
958            1
959            1
960            0
961            1
962            1
963            1
964            1
965            1
966            1
967            1
968            1
969            1
970            1
971            1
972            1
973            1
974            1
975            1
976            1
977            1
978            1
979            0
980            1

[981 rows x 1 columns]

In [238]:
model = LinearRegression()

In [239]:
model.fit(data[features],data[labels])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [243]:
model.predict([[1,0,0.0,5849,0.0]])

array([[0.75203879]])

In [244]:
data[features]

     Graduate  Not Graduate  Dependents  ApplicantIncome  CoapplicantIncome
0           1             0         0.0             5849                0.0
1           1             0         1.0             4583             1508.0
2           1             0         0.0             3000                0.0
3           0             1         0.0             2583             2358.0
4           1             0         0.0             6000                0.0
5           1             0         2.0             5417             4196.0
6           0             1         0.0             2333             1516.0
7           1             0         4.0             3036             2504.0
8           1             0         2.0             4006             1526.0
9           1             0         1.0            12841            10968.0
10          1             0         2.0             3200              700.0
11          1             0         2.0             2500             1840.0
12          1             0         2.0             3073             8106.0
13          1             0         0.0             1853             2840.0
14          1             0         2.0             1299             1086.0
15          1             0         0.0             4950                0.0
16          0             1         1.0             3596                0.0
17          1             0         0.0             3510                0.0
18          0             1         0.0             4887                0.0
19          1             0         0.0             2600             3500.0
20          0             1         0.0             7660                0.0
21          1             0         1.0             5955             5625.0
22          0             1         0.0             2600             1911.0
23          0             1         2.0             3365             1917.0
24          1             0         1.0             3717             2925.0
25          1             0         0.0             9560                0.0
26          1             0         0.0             2799             2253.0
27          0             1         2.0             4226             1040.0
28          0             1         0.0             1442                0.0
29          1             0         2.0             3750             2083.0
..        ...           ...         ...              ...                ...
951         1             0         0.0             2292             1558.0
952         1             0         1.0             2360             3355.0
953         1             0         0.0             4333             2333.0
954         1             0         0.0             2623             4831.0
955         1             0         0.0             3972             4275.0
956         0             1         4.0             3522                0.0
957         1             0         1.0             4700                0.0
958         1             0         0.0             6858                0.0
959         1             0         4.0             8334                0.0
960         1             0         0.0             3391             1966.0
961         0             1         0.0             2868                0.0
962         0             1         2.0             3418             1380.0
963         1             0         0.0             2500              296.0
964         1             0         2.0             8667                0.0
965         1             0         0.0             2283            15000.0
966         1             0         0.0             5817              910.0
967         1             0         0.0             5119             3769.0
968         0             1         4.0             5316              187.0
969         1             0         4.0             7603             1213.0
970         1             0         1.0             3791             1936.0
971         1             0         0.0             2500                0.0
972         0             1         2.0             3132                0.0
973         1             0         0.0             4000             2667.0
974         1             0         0.0             8550             4255.0
975         1             0         1.0             2269             2167.0
976         0             1         4.0             4009             1777.0
977         1             0         0.0             4158              709.0
978         1             0         0.0             3250             1993.0
979         1             0         0.0             5000             2393.0
980         1             0         0.0             9200                0.0

[981 rows x 5 columns]